<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>局部组件</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app1">
    <my-component></my-component>
</div>

<div id="app2">
    <my-component></my-component>
</div>
<div id="app3">
    <my-component></my-component>
</div>

</body>
</html>
<script>

    //局部注册
        var myComponent2 = Vue.extend({
            template:'<div>this is a test!</div>'
        });
        var app3 = new Vue({
            el:'#app3',
            components:{
                'my-component':myComponent2
            }
        });


</script>