<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>全局组件</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app1">
    <my-component></my-component>
</div>

<div id="app2">
    <my-component></my-component>
</div>

</body>
</html>
<script>
//声明一个组件
        var myComponent = Vue.extend({
            template:'<div>this is my first component!</div>'
        });
//注册组件
        Vue.component('my-component',myComponent);
//使用组件
        var app1 = new Vue({
            el:'#app1'
        });
        var app2 = new Vue({
            el:'#app2'
        });


</script>